* {
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; /* 设置文本抗锯齿, 如果可用的话 */
  font-family: "Microsoft YaHei", "Heiti SC", Arial, Helvetica, sans-serif;
  // 统一文字主色调
  color: hsl(0, 0%, 100%);
  cursor: default;
}

html,
body {
  background-color: hsl(0, 0%, 100%);
}

// 设置 webkit 内核系浏览器的默认滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: scroll center
    linear-gradient(to bottom, hsl(216, 100%, 75%), hsl(259, 100%, 68%));
  border-radius: 5px;
}
