* {
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; /* 设置文本抗锯齿, 如果可用的话 */
  font-family: "Microsoft YaHei", "Heiti SC", Arial, Helvetica, sans-serif;
}

// 设置 webkit 内核系浏览器的默认滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: hsla(0, 0%, 23%, 0.342);
  border-left: 1px solid hsla(28, 12%, 73%, 0.356);
}

::-webkit-scrollbar-thumb {
  background: scroll center linear-gradient(120deg, hsl(350, 81%, 69%), hsl(259, 62%, 46%));
}
